


<div>
<%= image_tag"mainLogo.png", :id => "rootLogo"%>
</div>
<div id="rootTag">
<h2> A Social Platform for Women in Development </h2>
</div>
<hr>
<div id="rootBackground">
  <p>
<h3><%= link_to 'Login', login_path %></h3>
<h3><%= link_to 'Create Account', new_user_path %></h3>

</p>

</div>
