


<div id="aboutImage">
  <h3>About SheDev</h3>
<p> SheDev is a social platform created for women in software development. Though men will not be bared from joining,
the intention of SheDev is to create a space for women devs to connect and find support in one another that is
specifically set apart from the traditionally male dominated development space.

Members have the ability post about job opporunities, share events, organize meetups, and also ask for help with
projects and such.

All levels of developer are welcome, and we invite you to help build the feminine presence in development with us as SheDevs. </p>


<%= image_tag "logoSD.png" %>

</div>
